.bounce {
	-webkit-animation-name:bounce;
	-moz-animation-name:bounce;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-moz-animation-direction:alternate;
	-webkit-animation-timing-function:eaze-out-in;
	-moz-animation-timing-function:eaze-out-in;
}
@-webkit-keyframes bounce {
	from { top:0; }
	to { top:20px; }
}
@-moz-keyframes bounce {
	from { top:0; }
	to { top:20px; }
}
.button-solid {
	background:#3e3d3c;
	color:#fff;
	display:inline-block;
	font-family:'Lora', 'Georgia', 'Times New Roman', serif;
	font-size:14px;
	font-weight:bold;
	padding:11px 30px;
	text-transform:uppercase;
	border:none;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	transition:all 0.5s;
}
.button-solid:hover {
	background-color:#f1f1f1;
	color:#252525;
}
.button-transparent {
	background:transparent;
	border:1px solid #fff;
	color:#fff;
	display:inline-block;
	font-family:'Lora', 'Georgia', 'Times New Roman', serif;
	font-size:24px;
	font-weight:300;
	padding:11px 30px;
	text-transform:uppercase;
}
.button-transparent:hover {
	color:#3498db;
	border-color:#3498db;
}
.bg1 { background-image:url('../images/MG_18.jpg'); }
.bg2 { background-color:#252525; }
.bg3 { background-image:url('../images/MG_14.jpg'); }
.logo { text-align:center; }
.logo .subtext {
	font-size:24px;
	font-family:'Roboto Slab', 'Arial', sans-serif;
	display:block;
	text-transform:none;
	text-align:center;
	margin-top:20px;
	font-weight:400;
}
.wistia_embed { margin:30px 0; }
nav.navbar.navbar-default {
	position:relative;
	z-index:10;
}
nav.navbar.navbar-default ul.nav.navbar-nav {
	float:right;
	left:0;
	right:0;
	padding-top:33px;
}
nav.navbar.navbar-default ul.nav.navbar-nav li {
	float:left;
	left:0;
	right:0;
	padding:0 10px;
}
nav.navbar.navbar-default ul.nav.navbar-nav li a, nav.navbar.navbar-default ul.nav.navbar-nav li a:visited {
	top:0;
	padding:5px 0;
	font-weight:300;
}
nav.navbar.navbar-default ul.nav.navbar-nav li a:hover, nav.navbar.navbar-default ul.nav.navbar-nav li a:active, nav.navbar.navbar-default ul.nav.navbar-nav li a:visited:hover, nav.navbar.navbar-default ul.nav.navbar-nav li a:visited:active { color:#3498db; }
.logo-button .down-arrow {
	color:#fff;
	font-size:54px;
	border:none;
	position:relative;
}
.content { padding:100px 0; }
.content.offset { margin-top:90px; }
.content h1.heading {
	margin:0 0 30px;
	padding:0;
	color:#3e3d3c;
	font-family:'Lora', 'Georgia', 'Times New Roman', serif;
	text-align:center;
	font-size:30px;
	text-transform:uppercase;
}
.content h1.heading:after {
	content:'';
	width:40px;
	height:2px;
	background:#3498db;
	margin:3px auto 40px;
	display:block;
}
.content p {
	line-height:28px;
	font-size:18px;
	font-family:'Lora', 'Georgia', 'Times New Roman', serif;
}
.content a { color:#3498db; }
.content a:hover { color:#c98984; }
.content .alignleft {
	float:left;
	margin-right:30px;
	margin-top:14px;
}
.content h4 {
	border-bottom:1px solid #ddd;
	font-weight:bold;
	margin:90px 0 30px;
	padding-bottom:30px;
}
.content ul li {
	line-height:36px;
	font-size:18px;
	font-family:'Roboto Slab', 'Arial', sans-serif;
	margin-left:19px;
	padding-left:11px;
	color:#939ea7;
}
.content ul li strong { font-weight:normal; }
section {
	padding:100px 0;
	background:#f1f1f1;
}
section .wrapper {
	position:relative;
	z-index:1;
}
section .heading {
	margin:0 0 30px;
	padding:0;
	color:#3e3d3c;
	font-family:'Lora', 'Georgia', 'Times New Roman', serif;
	font-weight:bold;
	text-align:center;
	font-size:30px;
	text-transform:uppercase;
}
section .heading:after {
	content:'';
	width:40px;
	height:4px;
	background:#3e3d3c;
	margin:3px auto 0;
	display:block;
}
section .heading.big { font-size:58px; }
section .heading.big:after { display:none; }
section .heading.big span { color:#3498db; }
section p {
	line-height:36px;
	font-size:18px;
	font-family:'Lora', 'Georgia', 'Times New Roman', serif;
	text-align:center;
}
section p.lead {
	margin:40px auto;
	font-size:30px;
	text-transform:uppercase;
	max-width:900px;
}
section a.button {
	background:#3e3d3c;
	color:#fff;
	display:inline-block;
	font-family:'Lora', 'Georgia', 'Times New Roman', serif;
	font-size:14px;
	font-weight:bold;
	padding:11px 30px;
	text-transform:uppercase;
	border:none;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	transition:all 0.5s;
}
section a.button:hover {
	background-color:#f1f1f1;
	color:#252525;
}
section.color { background:#252525; }
section.color .heading { color:#fff; }
section.color .heading:after { background:#3498db; }
section.color p { color:#747474; }
section.background {
	position:relative;
	background-size:cover;
	background-attachment:fixed;
}
section.background .heading { color:#fff; }
section.background .heading:after { background:#fff; }
section.background p { color:#fff; }
.post { text-align:left; }
.post h1, .post p { text-align:left; }
.post h1 { margin-top:0; }
.post h1 + a > img { width:540px; }
.post img.wp-post-image {
	height:auto;
	max-height:100%;
	max-width:100%;
	width:auto;
}
.post a { color:#3498db; }
.post a:hover { color:#c98984; }
footer .copyright {
	font-size:14px;
	color:#fff;
	font-family:'Lora', 'Georgia', 'Times New Roman', serif;
	text-transform:uppercase;
	background:#3498db;
	text-align:center;
	padding:60px 0;
}
footer section .wrapper { max-width:990px; }
.banner {
	height:787px;
	width:100%;
	position:absolute;
	overflow:hidden;
	top:0;
}
.banner video {
	right:0;
	bottom:0;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	z-index:-100;
	background-size:cover;
}
.parallax-wrapper {
	height:787px;
	width:100%;
	position:absolute;
	overflow:hidden;
	top:0;
}
.parallax-wrapper .parallax {
	height:787px;
	width:2646px;
	margin:0 auto;
}
.parallax-wrapper .parallax .parallax-layer.bg {
	left:0;
	top:0;
}
.parallax-wrapper .parallax .parallax-layer.mg {
	left:1098px;
	top:38px;
}
.parallax-wrapper .parallax .parallax-layer.fg {
	left:397px;
	top:-50px;
}
.box {
	background:#eeeeee;
	color:#3e3d3c;
	line-height:36px;
	font-size:18px;
	font-family:'Lora', 'Georgia', 'Times New Roman', serif;
	padding:20px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.attorneys {
	background:url('../images/attorneys.jpg') no-repeat scroll center bottom transparent;
	height:228px;
	margin-bottom:-100px;
	margin-top:60px;
}
.the-attorneys .attorney {
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
	width:202px;
	background:#eee;
	border:1px solid #e1e1e1;
	overflow:hidden;
	margin-right:30px;
	margin-bottom:30px;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	transition:all 0.5s;
}
.the-attorneys .attorney .attorney-name {
	font-size:15px;
	text-transform:uppercase;
	padding:15px;
	min-height:86px;
	background:#252525;
}
.the-attorneys .attorney:hover {
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	transform:scale(1.05);
	-webkit-box-shadow:0 0 10px -2px #000;
	-moz-box-shadow:0 0 10px -2px #000;
	box-shadow:0 0 10px -2px #000;
	border-color:#959595;
}
.testimonials .owl-wrapper-outer { margin-bottom:30px; }
.testimonials .testimonial {
	font-family:'Lora', 'Georgia', 'Times New Roman', serif;
	color:#a7a7a7;
	font-style:italic;
	font-size:24px;
	text-align:center;
	font-weight:300;
}
.testimonials .testimonial cite {
	font-style:normal;
	color:#3e3d3c;
	text-transform:uppercase;
	display:block;
	text-align:center;
	margin-top:30px;
}
.practice-areas {
	margin-top:40px;
	position:relative;
}
.practice-areas .area {
	text-align:center;
	margin:0 20px;
}
.practice-areas .area i {
	color:#3498db;
	font-size:40px;
	margin:0 auto;
}
.practice-areas .area p {
	line-height:27px;
	font-size:14px;
	margin:10px 0;
	text-align:justify;
}
.practice-areas .area h1 {
	font-family:'Lora', 'Georgia', 'Times New Roman', serif;
	font-weight:normal;
	font-size:24px;
	color:#fff;
	margin:24px 0 12px;
}
.practice-areas .area h1 + a > img { width:350px; }
.practice-areas .area img.wp-post-image {
	width:auto;
	height:auto;
	max-height:100%;
	max-width:100%;
}
.practice-areas .area .page-link {
	text-align:center;
	margin-top:25px;
	padding:1px 0;
}
.practice-areas .area .page-link .button { font-size:17px; }
.practice-areas-overview {
	margin-top:40px;
	position:relative;
	margin-top:70px;
}
.practice-areas-overview .area {
	text-align:center;
	margin:0 20px;
}
.practice-areas-overview .area i {
	color:#3498db;
	font-size:40px;
	margin:0 auto;
}
.practice-areas-overview .area p {
	line-height:27px;
	font-size:14px;
	margin:10px 0;
	text-align:justify;
}
.practice-areas-overview .area h1 {
	font-family:'Lora', 'Georgia', 'Times New Roman', serif;
	font-weight:normal;
	font-size:24px;
	color:#fff;
	margin:24px 0 12px;
}
.practice-areas-overview .area h1 + a > img { width:350px; }
.practice-areas-overview .area img.wp-post-image {
	width:auto;
	height:auto;
	max-height:100%;
	max-width:100%;
}
.practice-areas-overview .area .page-link {
	text-align:center;
	margin-top:25px;
	padding:1px 0;
}
.practice-areas-overview .area .page-link .button { font-size:17px; }
.practice-areas-overview .area h1 { color:#000; }
.owl-theme .owl-controls .owl-buttons { margin-top:40px; }
.owl-theme .owl-controls .owl-buttons .owl-prev, .owl-theme .owl-controls .owl-buttons .owl-next {
	background:transparent;
	border:1px solid #3498db;
	border-radius:0;
	opacity:1;
	width:40px;
	height:40px;
	font-size:23px;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	transition:all 0.5s;
}
.owl-theme .owl-controls .owl-buttons .owl-prev i, .owl-theme .owl-controls .owl-buttons .owl-next i {
	color:#3498db;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	transition:all 0.5s;
}
.owl-theme .owl-controls .owl-buttons .owl-prev:hover, .owl-theme .owl-controls .owl-buttons .owl-next:hover { border-color:#fff; }
.owl-theme .owl-controls .owl-buttons .owl-prev:hover i, .owl-theme .owl-controls .owl-buttons .owl-next:hover i { color:#fff; }
.owl-theme .owl-controls .owl-page span {
	background:transparent;
	border:2px solid #3498db;
}
.owl-theme .owl-controls .owl-page.active span { background:#2980b9; }
.social-icons {
	margin:30px auto 0;
	text-align:center;
}
.social-icons a {
	color:#fff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	font-size:26px;
	padding:4px 10px;
	border:1px solid #fff;
	margin:0 6px;
}
.social-icons a:hover {
	color:#252525;
	border-color:#252525;
}
.gform_wrapper form .gform_body ul.gform_fields {
	padding-left:0;
	margin:0;
	list-style:none;
}
.gform_wrapper form .gform_body ul.gform_fields li.gfield { margin-bottom:30px; }
.gform_wrapper form .gform_body ul.gform_fields li.gfield.gfield_html {
	background:#252525;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding:20px;
	font-size:15px;
	font-family:'Lora', 'Georgia', 'Times New Roman', serif;
	color:#fff;
}
.gform_wrapper form .gform_body ul.gform_fields li.gfield.gfield_html i { padding-right:7px; }
.gform_wrapper form .gform_body ul.gform_fields li.gfield label {
	font-size:14px;
	font-family:'Lora', 'Georgia', 'Times New Roman', serif;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
}
.gform_wrapper form .gform_body ul.gform_fields li.gfield label .gfield_required {
	color:#3498db;
	padding-left:5px;
}
.gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container input[type="text"], .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container textarea, .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container select {
	width:100%;
	font-size:18px;
	color:#fff;
	background:transparent;
	border:2px solid #fff;
	padding:15px;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	transition:all 0.5s;
}
.gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container input[type="text"]:focus, .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container textarea:focus, .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container select:focus { border-color:#3e3d3c; }
.gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container ul {
	list-style:none;
	padding:0;
}
.gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container ul li label {
	font-size:15px;
	font-weight:normal;
	text-transform:none;
}
.gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container ul li label a { color:#3498db; }
.gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container ul li label a:hover { color:#fff; }
.gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container input[type="radio"], .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container input[type="checkbox"] { margin-right:12px; }
.gform_wrapper form .gform_footer .gform_button {
	background:#3e3d3c;
	color:#fff;
	display:inline-block;
	font-family:'Lora', 'Georgia', 'Times New Roman', serif;
	font-size:14px;
	font-weight:bold;
	padding:11px 30px;
	text-transform:uppercase;
	border:none;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	transition:all 0.5s;
}
.gform_wrapper form .gform_footer .gform_button:hover {
	background-color:#f1f1f1;
	color:#252525;
}
.content .gform_wrapper form .gform_body ul.gform_fields li.gfield.gfield_html {
	background:#252525;
	color:#fff;
}
.content .gform_wrapper form .gform_body ul.gform_fields li.gfield label { color:#3e3d3c; }
.content .gform_wrapper form .gform_body ul.gform_fields li.gfield label .gfield_required { color:#3498db; }
.content .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container input[type="text"], .content .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container textarea, .content .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container select {
	color:#3e3d3c;
	border-color:#3e3d3c;
}
.content .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container input[type="text"]:focus, .content .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container textarea:focus, .content .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container select:focus { border-color:#3498db; }
.content .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container ul li label a { color:#3498db; }
.content .gform_wrapper form .gform_body ul.gform_fields li.gfield .ginput_container ul li label a:hover { color:#3e3d3c; }
.wistia_embed {
	width:100% !important;
	height:658px !important;
	max-width:1170px !important;
}
.phone-number {
	color:#fff;
	font-size:16px;
	margin-bottom:-22px;
	margin-right:9px;
	position:relative;
	text-align:right;
	top:12px;
}
.navbar-default.alternate .phone-number {
	color:#252525;
	top:6px;
}
@media (max-width: 1200px) {
	.logo { font-size:36px; }
	.wrapper { padding:0 30px; }
	nav.navbar.navbar-default ul.nav.navbar-nav li a { font-size:14px !important; }
	nav.navbar.navbar-default .navbar-brand img {
		margin-top:10px;
		width:80px;
	}
	nav.navbar.navbar-default .navbar-brand-alternate { left:20px !important; }
	nav.navbar.navbar-default .navbar-brand-alternate img {
		margin-top:10px;
		width:160px;
	}
	nav.navbar.navbar-default ul li a {
		padding-left:10px;
		padding-right:10px;
		font-size:14px;
	}
	.contact-button i {
		font-size:26px;
		top:31px;
	}
	.navbar-header .navbar-brand {
		font-size:16px;
		line-height:18px;
		padding-top:6px;
	}
	.navbar-header .navbar-brand strong { font-size:25px; }
}
@media (max-width: 768px) {
	body { font-family:Arial, sans-serif; }
	section p, p, .content p { font-family:Arial, sans-serif; }
	body.interior header { height:500px; }
	.infos {
		height:auto;
		padding-bottom:20px;
		top:348px;
	}
	.logo {
		top:15%;
		width:100%;
		text-align:center;
		font-size:28px;
		left:0 !important;
		margin-left:0 !important;
		line-height:30px;
	}
	.logo .sub {
		width:100%;
		max-width:430px;
		font-size:20px;
		margin-top:7px;
	}
	.logo-button { top:24%; }
	.logo-button a { font-size:18px; }
	.contact-button { display:none; }
	section p.lead { font-size:22px !important; }
	section a.button { font-size:18px !important; }
	section.background {
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		background-repeat:repeat;
		background-attachment:scroll !important;
		background-position:center top !important;
		min-height:100%;
	}
	section.background .heading.big {
		font-size:32px;
		line-height:35px;
	}
	section.background.bg1 {
		-webkit-background-size:1060px 600px !important;
		-moz-background-size:1060px 600px !important;
		-o-background-size:1060px 600px !important;
		background-size:1060px 600px !important;
		background-position:center top !important;
		background-attachment:scroll !important;
	}
	section.background.bg3 { background-position:0 0 !important; }
	nav.navbar.navbar-default {
		background:#fff;
		color:#3e3d3c;
		padding:0;
		-moz-text-shadow:0 0 15px #000000;
		-webkit-text-shadow:0 0 15px #000000;
		text-shadow:0 0 15px #000000;
	}
	nav.navbar.navbar-default .phone-number {
		color:#252525;
		top:6px;
		text-shadow:none;
	}
	nav.navbar.navbar-default ul {
		float:none;
		left:0;
		margin-top:74px;
		width:100%;
		padding-top:0;
	}
	nav.navbar.navbar-default ul li {
		display:block;
		float:none !important;
		left:0;
	}
	nav.navbar.navbar-default ul li a {
		display:block;
		float:none;
		border:none;
		font-size:30px !important;
		color:#3e3d3c;
		text-shadow:none;
		text-align:left;
	}
	nav.navbar.navbar-default ul li.current-menu-item a { border-color:#3498db; }
	nav.navbar.navbar-default .navbar-brand-alternate {
		opacity:1 !important;
		top:15px;
	}
	nav.navbar.navbar-default .navbar-brand { opacity:0 !important; }
	nav.navbar.navbar-default ul.nav.navbar-nav li a {
		font-size:26px !important;
		border:none;
		padding:7px 0;
	}
	.wistia_embed { height:300px !important; }
	.navbar-toggle {
		color:#3e3d3c;
		margin-top:9px;
		margin-right:0;
	}
	.banner { background:url('../images/MG_1.jpg') repeat scroll 0 0 #3498db; }
	.banner video { display:none; }
	.banner .tint { display:none; }
	.banner .pattern { display:none; }
	#typed-cursor { font-size:30px; }
	header {
		overflow:hidden !important;
		height:500px;
	}
	.logo {
		top:300px !important;
		padding:0 30px;
		position:absolute !important;
	}
	.logo-button { display:none; }
	.phone-number { display:none; }
	.mobile-banner-number { display:block; }
	.posts .post a img {
		width:100%;
		margin-bottom:80px;
	}
	.practice-areas .area { margin-top:80px; }
	.practice-areas .area h1 {
		font-size:32px !important;
		text-transform:uppercase;
		font-family:Arial, sans-serif;
	}
	.practice-areas .area i { color:#fff; }
	.practice-areas .area p {
		font-size:18px;
		line-height:36px;
	}
	.pattern { display:none; }
	a.button { font-family:Arial, sans-serif !important; }
	.gform_wrapper form .gform_body ul.gform_fields li.gfield label { font-family:Arial, sans-serif; }
	.gform_wrapper form .gform_footer .gform_button { font-family:Arial, sans-serif; }
	footer .copyright { font-family:Arial, sans-serif; }
}