.logo {
	position:fixed;
	left:50%;
	top:380px;
	margin-left:-525px;
	margin-top:-101px;
}
.logo-button span {
	display:block;
	font-size:11px;
	font-weight:400;
	opacity:0.5;
	position:relative;
	text-transform:none;
	top:33px;
}
nav.navbar.navbar-default {
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
nav.navbar.navbar-default .navbar-brand {
	opacity:1;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
	z-index:10;
}
nav.navbar.navbar-default .navbar-brand-alternate {
	left:0;
	position:absolute;
	opacity:0;
	top:9px;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
	z-index:20;
}
nav.navbar.navbar-default ul.nav.navbar-nav {
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
nav.navbar.navbar-default ul.nav.navbar-nav li a { font-size:16px; }
nav.navbar.navbar-default.alternate {
	background:#fff;
	color:#333;
	padding:0;
	-webkit-box-shadow:0 0 15px -10px #000;
	-moz-box-shadow:0 0 15px -10px #000;
	-o-box-shadow:0 0 15px -10px #000;
	box-shadow:0 0 15px -10px #000;
}
nav.navbar.navbar-default.alternate .navbar-brand-alternate { opacity:1; }
nav.navbar.navbar-default.alternate .navbar-brand { opacity:0; }
nav.navbar.navbar-default.alternate ul.nav.navbar-nav { padding:20px 0; }
nav.navbar.navbar-default.alternate ul.nav.navbar-nav li.current-menu-item a { border-color:#3498db; }
nav.navbar.navbar-default.alternate ul.nav.navbar-nav li a { color:#333; }
.content h1.heading {
	font-size:40px;
	font-weight:bold;
	font-family:'Roboto Slab', 'Arial', sans-serif;
}
.content h1.heading:after {
	height:2px;
	margin:20px auto 0;
	max-width:100px;
	width:100%;
}
section.background { background-attachment:fixed; }
section.background .heading {
	font-size:40px;
	font-weight:bold;
	font-family:'Roboto Slab', 'Arial', sans-serif;
}
section.background .heading:after {
	height:2px;
	margin:20px auto 0;
	max-width:100px;
	width:100%;
	background:#ecf0f1;
}
section.background h1 { color:#fff; }